* {
  box-sizing: border-box;
}

#root{
  display: flex;
  width: 80%;
  flex-direction: column;
  margin: 0 auto;
}

.App {
  text-align: center;


}

.allSharedState{
  border: 1px solid darkred;
/*  display: inline-block; */
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 2px #ccc;
  padding: 5px;
  margin: 3px auto;
  width: 70%;
 /* height: 40%; */
}

h4{
  margin: 1px;
}

.allDistinctState{
  border: 1px solid darkslateblue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  margin: 2px auto;
}

.task_counter_Container{
  border: 2px solid hotpink;
  display: flex;
  justify-content: space-around;
}

.tasksMainContainer {
  border: 1px solid darkblue;
  
  display: flex;
  flex-direction: column;
  width: 40%;
}


.titleViewContainer{
  border: 2px solid green;
  margin: 1px auto;
  width: 80%;

}

input{
  outline-style: none;
}

.fa-atom{
  padding-left: 4px;
}